<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        html,
        body {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
  <div id="pageHeader-first" class="ui huge header center aligned">
    <h1><%= start + " til " + end%></h1>
  </div>
    <div class="ui container center aligned">
      <h2 class="ui large header center aligned">Varslingsstatistikk</h2>
        <table class="ui celled structured table large">
            <thead>
                <tr>
                    <th rowspan="1">Overkategori</th>
                    <th rowspan="1">Underkategori</th>
                    <th rowspan="1">Antall varslinger</th>
                </tr>
            </thead>
            <tbody>
                <% var total = 0; %>
                <% for(var i = 0; i < categories.length; i++) { %>
                  <% if(categories[i].subs.length == 0) { %>
                    <tr>
                      <td class=""><b><%= categories[i].name %></b></td>
                      <td></td>
                      <td>0</td>
                    </tr>
                  <% } %>
                  <% for(var j = 0; j < categories[i].subs.length; j++) { %>
                    <% total = total + categories[i].subs[j].amount; %>
                    <% if(j == 0) { %>
                      <tr style="page-break-inside: avoid;">
                        <td class="" rowspan="<%= categories[i].subs.length %>"><b><%= categories[i].name %></b></td>
                        <td><%= categories[i].subs[j].name %></td>
                        <td><%= categories[i].subs[j].amount %></td>
                      </tr>
                    <% } else { %>
                      <tr>
                        <td><%= categories[i].subs[j].name %></td>
                        <td><%= categories[i].subs[j].amount %></td>
                      </tr>
                    <% } %>
                  <% } %>
                  <% if(i != (categories.length - 1)) { %>
                    <tr class="active"><td colspan="3" style="padding:2px"</td></tr>
                  <% } %>
                <% } %>
            </tbody>
            <tfoot>
              <tr>
                <th>Total</th>
                <th></th>
                <th><b><%= total %></b></th>
              </tr>
            </tfoot>
        </table>
        <div class="ui grid center aligned" style="page-break-before:always;">
          <div style="width:50%;">
            <h2 class="ui header center aligned">Brukerstatistikk</h2>
          </div>
          <div class="sixteen wide column">
            <div id="piechart1" style="height:500px; width:500px;"></div>
          </div>
        </div>
        <div class="ui grid center aligned" style="page-break-before:always;">
          <h2 class="ui header center aligned">Annen statistikk</h2>
        </div>
      </div>


    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawChart1();
        }

        function drawChart1() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work', 8],
                ['Eat', 2],
                ['TV', 4],
                ['Gym', 2],
                ['Sleep', 8]
            ]);

            var options = {
                'title': 'My Average Day 1'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
            chart.draw(data, options);
        }
    </script>
</body>

</html>
