<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="<%= link %>semantic.min.css">
    <script type="text/javascript" src="<%= link %>loader.js"></script>
    <style>
        html,
        body {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #chartdiv {
            display: block;
            white-space: wrap;
            margin-top: 15px;
        }

        table {
            page-break-inside: avoid;
        }

        tbody {
            border-top: 1px solid rgba(34, 36, 38, .1);
        }
    </style>
</head>

<body>
    <div class="ui container center aligned" >
      <img src="<%= link %>hverdagshelt_logo.png" style="width:100%" />
      <h1>Statistikk for <%= period %></h1>
      <h2><%= start + " til " + end%></h2>
    </div>
    <div class="ui container center aligned" style="page-break-before:always;">
        <h2 class="ui large header center aligned">Varslingsstatistikk</h2>
        <table class="ui celled structured table large">
            <thead>
                <tr>
                    <th rowspan="1" width="25%">Overkategori</th>
                    <th rowspan="1" width="45%">Underkategori</th>
                    <th rowspan="1" width="15%">Varslinger</th>
                    <th rowspan="1" width="15%">% utførte</th>
                </tr>
            </thead>
        </table>

        <% var total = 0; %>
        <% var totalFinished = 0; %>
        <% var totalPercent = 0; %>
            <% for(var i = 0; i < categories.length; i++) { %>
                <table class="ui celled structured table large">
                    <tbody>
                        <% if(categories[i].subs.length == 0) { %>
                            <tr>
                                <td width="25%"><b><%= categories[i].name %></b></td>
                                <td width="45%"></td>
                                <td width="15%">0</td>
                                <td width="15%">0</td>
                            </tr>
                            <% } %>
                                <% for(var j = 0; j < categories[i].subs.length; j++) { %>
                                    <% total = total + categories[i].subs[j].tickets; %>
                                    <% totalFinished = totalFinished + categories[i].subs[j].finished; %>
                                        <% if(j == 0) { %>
                                            <tr style="page-break-inside: avoid;">
                                                <td width="25%" rowspan="<%= categories[i].subs.length %>"><b><%= categories[i].name %></b></td>
                                                <% } else { %>
                                                    <tr>
                                                      <% } %>

                                                    <td width="45%">
                                                        <%= categories[i].subs[j].name %>
                                                    </td>
                                                    <td width="15%">
                                                        <%= categories[i].subs[j].tickets %>
                                                    </td>
                                                    <td width="15%">
                                                      <% if(categories[i].subs[j].finished == 0 || categories[i].subs[j].tickets == 0) { %>
                                                        0.00 %
                                                      <% } else { %>
                                                        <% totalPercent = totalPercent + ((categories[i].subs[j].finished / categories[i].subs[j].tickets) * 100) %>
                                                        <%= ((categories[i].subs[j].finished / categories[i].subs[j].tickets) * 100).toFixed(2) %> %
                                                      <% } %>
                                                    </td>
                                                </tr>

                                                    <% } %>
                                                        <% if(i != (categories.length - 1)) { %>
                                                            <tr class="active">
                                                                <td colspan="4" style="padding:2px" </td>
                                                            </tr>
                                                            <% } %>
                    </tbody>
                </table>
                <% } %>

                    <table class="ui celled structured table large">
                        <tfoot>
                            <tr>
                                <th width="25%">Totaler</th>
                                <th width="45%"></th>
                                <th width="15%"><b><%= total %></b></th>
                                <th width="15%"><b><%= ((totalFinished/total)*100).toFixed(2) %> %</b></th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="ui grid center aligned" style="page-break-before:always;">
                        <div style="width:100%; position:absolute;">
                            <h2 class="ui header center aligned" id="title1">Brukerstatistikk</h2>
                        </div>
                        <div id="chartdiv" class="sixteen wide column">
                            <div id="piechart1" style="height:500px; width:820px;"></div>
                        </div>
                    </div>
                    <!--
        <div class="ui grid center aligned" style="page-break-before:always;">
          <h2 class="ui header center aligned">Annen statistikk</h2>
        </div>
      -->
    </div>

    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart']
        });
        //google.charts.setOnLoadCallback(drawCharts);
        setTimeout(drawCharts, 3000);

        function drawCharts() {
          drawChart1();
        }

        function drawChart1() {
            var start1 = <%- users.start %>;
            var increase = <%- users.increase %>;
            var date = '<%- start %>';
            var data = google.visualization.arrayToDataTable([
                ['', ''],
                ['Brukere før ' + date, start1],
                ['Brukere etter ' + date, increase]
            ]);

            var options = {
                'title': 'Brukere',
                'legend': {
                    position: 'bottom'
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
            chart.draw(data, options);
        }
    </script>
</body>

</html>
